:root {
    --footer-link-margin: 30px;


    --anchor-default: #00aa00;
    --anchor-hover: #1b7709;

    --info-background: rgba(114, 137, 218, .3);
    --info-text: #ffffff;
    --info-border: rgba(114, 137, 218, .75);

    --warn-background: rgba(250, 166, 26, .3);
    --warn-text: #ffffff;
    --warn-border: rgba(250, 166, 26, .75);

    --error-background: rgba(240, 71, 71, .3);
    --error-border: rgba(240, 71, 71, .75);
    --error-text: #ffffff;
}



div a, p a { color: var(--anchor-default); }
div a:hover, p a:hover { color: var(--anchor-hover); }



div#Footer ul {
    list-style: none;
    padding: 0;
}
div#Footer li {
    display: inline-block;
    margin-right: var(--footer-link-margin);
}



div.alert {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    border-width: 2px;
    border-style: solid;
    border-radius: 7px;
    margin-bottom: 15px;
}

div.error {
    border-color: var(--error-border);
    color: var(--error-text);
    background-color: var(--error-background);
}

div.warn {
    border-color: var(--warn-border);
    color: var(--warn-text);
    background-color: var(--warn-background);
}

div.info {
    border-color: var(--info-border);
    color: var(--info-text);
    background-color: var(--info-background);
}